extends layout

block content
  h1 Welcome to our linkshare

  ul.links.list
    for link in links
      li
        if link.type === 'image'
          include templates/image

        else if link.type === 'video'
          include templates/video

        else
          include templates/link
