extends layout

block content
  header share:

  ul
    li
      a(href='/share/link') a link
    li
      a(href='/share/image') an image
    li
      a(href='/share/video') a video


  //header alternatively:
  //div
    | see your friendlist or add some friends: 
    a(href='/friends') friends
